<nav class="navbar navbar-light bg-light" id="logobike">
  <button class="novocliente"> Novo Cliente </button>
</nav>

<!-- <a class="unidade">Unidade: Matriz</a> -->
<div class="row">
<button class="btn btn-default" onclick="location.href='/novoaluguel'"> <i class="fa fa-plus-circle fa-5x" aria-hidden="true"></i> </button>
<button class="botaobike">Cliente 1<img src="/images/agrvai.png" widht="20px" height="50px"> </button>
</div>
