<nav class="navbar navbar-light bg-light" id="logobike"></nav>
<div class="row">
<button class="btn btn-default"> <i class="fa fa-plus-circle fa-5x" aria-hidden="true"></i> </button>
<button class="botaobike">Cliente 1<img src="/images/agrvai.png" widht="20px" height="50px"> </button>
</div>
