<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>

    <nav id="sidebar">
      <div class="sidebar-header text-center">
        <a class="navbar-brand" href="/">
          <img src="/images/bikelogo.png" >
        </a>
      </div>
    </nav>
    <div class="home-title">
      <FONT size="5" face="Segoe UI Symbol" color="black" >
      Selecione a loja:
      </FONT>
    </div>
    <div class="Address-btn">
      <div class="btntest col-4">
        <button type="submit" class="btnunidade" onclick="location.href='/acompmirante'"><FONT size="6" face="Segoe UI Symbol" color="black" >
         Mirante Bem-te-vi
        </FONT></button>
      </div>
      <div class="btntest col-4">
        <button type="submit" class="btnunidade" onclick="location.href='/acompanhamento'"><FONT size="6" face="Segoe UI Symbol" color="black" >
         Matriz
        </FONT></button>
      </div>
      <div class="btntest col-4">
        <button type="submit" class="btnunidade" onclick="location.href='/acompvila'"><FONT size="6" face="Segoe UI Symbol" color="black" >
        Vila Pampulha
        </FONT></button>
      </div>
    </div>
  </body>
</html>
