<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>

    <nav id="sidebar">
      <div class="sidebar-header text-center">
        <a class="navbar-brand" href="/">
          <img src="/images/bikelogo.png" >
        </a>
      </div>
    </nav>
    <div class="home-title">
      Selecione a Loja:
    </div>

    <div class="Address-btn">
      <div class="btntest col-4">
        <button type="submit" class="btnunidade">Unidade Bem-te-vi</button>
      </div>
      <div class="btntest col-4">
        <button type="submit" class="btnunidade">Unidade Bem-te-vi</button>
      </div>
      <div class="btntest col-4">
        <button type="submit" class="btnunidade">Unidade Bem-te-vi</button>
      </div>
    </div>

    <div class="Address-btn">
      <div class="btntest col-4">
        <button type="submit" class="btnunidade">Unidade Matriz</button>
      </div>
      <div class="btntest col-4">
        <button type="submit" class="btnunidade">Unidade Matriz</button>
      </div>
      <div class="btntest col-4">
        <button type="submit" class="btnunidade">Unidade Matriz</button>
      </div>
    </div>

    <div >
        <button type="submit" class="btnrelatorio1 ">Relatorio Mensal</button>

        <button type="submit" class="btnrelatorio2 ">Relatorio Diario</button>
      </div>



  </body>
</html>
