
<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <div class="wrapper">
      <!-- Sidebar -->
      <nav id="sidebar">
        <div class="sidebar-header text-center">
          <a class="navbar-brand" href="/">
            <img src="/images/bikelogo.png" >
          </a>
        </div>
      </nav>
    <br>
      <div class="texto-centro">
        <FONT size="6" face="Segoe UI Symbol" color="#FF6501" >
      LOGIN
      </FONT>
      </div>
      <div class="box">
        <form action="/login" method="post">

          <div class="cadastro">
            <div class="texto-centro">
              <label for="InputEmail1" ><FONT size="5" face="Swis721 LtEx BT" color="black" > Endereço de email</FONT></label>
            </div>
            <input type="text" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Seu email" name="user[username]">

          </div>


          <div class="form-group">
            <div class="texto-centro">
              <label for="InputPassword1" class="texto-centro"><FONT size="5" face="Swis721 LtEx BT" color="black" > Senha</FONT></label>
            </div>
            <input type="password" class="form-control" id="InputPassword1" placeholder="Senha" name = "user[password]">
          </div>


          <div class="texto-centro">
            <button type="submit" class="botaoenviar">Logar</button>

          </div>
        </form>
      </div>


  </body>
</html>
